
    <div class="auth-wrapper">
        <div class="center">
            <div class="form-container">
                <div class="title">
                    <h1>Masuk</h1>
                </div>
                <form action="/login" method="post">
                    <div class="form-item">
                        <input type="text" name="username" class="form-control" id="username" placeholder="Username">
                    </div>
                    <div class="form-item">
                        <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                    </div>
                    <div class="form-item form-button">
                        <button type="submit" class="btn-submit">Masuk</button>
                        <p style="color:#cbd5e1;">Belum punya akun?<a href="/register" >Daftar</a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
