
<div class="auth-wrapper">
  <div class="center">
      <div class="form-container">
          <div class="title">
              <h1>Daftar</h1>
          </div>
          <form action="/register" method="post">
              <div class="form-item">
                  <input type="text" name="username" class="form-control" id="username" placeholder="Username">
              </div>
              <div class="form-item">
                  <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
              </div>
              <div class="form-item">
                  <input type="password" name="confirm_password" class="form-control" id="exampleInputPassword1" placeholder="Confirm Password">
              </div>
              <div class="form-item form-button">
                  <button type="submit" class="btn-submit">Daftar</button>
                  <p style="color:#cbd5e1;">Sudah punya akun?<a href="/login" >Masuk</a></p>
              </div>
          </form>
      </div>
  </div>
</div>
